[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "lib/oclint-xcodebuild"]
	path = lib/oclint-xcodebuild
	url = https://github.com/oclint/oclint-xcodebuild.git
[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh-better-npm-completion"]
	path = zsh-better-npm-completion
	url = https://github.com/lukechilds/zsh-better-npm-completion.git
